---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Offers from '../components/Offers.astro';
import Testimonials from '../components/Testimonials.astro';
import HeroFooter from '../components/HeroFooter.astro';
import HeroHeader from '../components/HeroHeader.astro';
---

<Layout title="Malón en Movimiento">
	<main>
		<!-- Add Call To action, company Name and Button text2 -->
	<HeroHeader callToAction='Unete a los rebeldes del movimiento.' companyName='Malón en Movimiento'/>
	<About linkText="/" imageOne='image1.jpg', imageTwo='image2.jpg' />
	<Offers />
	<Testimonials />
	<HeroFooter callToAction='Empieza a entrenar hoy mismo!' />
	</main>
</Layout>

